

.book-table{
  background-image: initial;
  background-color: rgb(136, 101, 42);
  border-color: initial;
  color: rgb(232, 230, 227);
}
.book-table{
  background: #cda45e;
  border: 1;
  padding: 6px 21px;
  color: #fff;
  transition: 0.4s;
  border-radius: 0px;
  margin-inline: 5px;
  margin-block: 2px;
}
