<header id="header" class="fixed-top d-flex align-items-cente">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a [routerLink]="['index.html']">Alchemist</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <app-navbar></app-navbar>

    <!-- <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Book a table</a> -->

  </div>
</header>

<div class="tutto">
<section id="reservations" class="reservations" data-aos="fade-up">
  <div class="container">
    <div class="section-title">
      <h2>Reservation List</h2>
      <p>View all reservations here.</p>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Pax.</th>
            <th>Allergies</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations; let i = index">
            <td>
              <span *ngIf="!reservation.editing">{{ reservation.name }}</span>
              <input *ngIf="reservation.editing" [(ngModel)]="reservation.name" name="name" placeholder="Name">
            </td>
            <td>
              <span *ngIf="!reservation.editing">{{ reservation.reservationTime }}</span>
              <input *ngIf="reservation.editing" [(ngModel)]="reservation.reservationTime" name="reservationTime" placeholder="Time">
            </td>
            <td>
              <span *ngIf="!reservation.editing">{{ reservation.people }}</span>
              <input *ngIf="reservation.editing" [(ngModel)]="reservation.people" name="people" placeholder="Pax.">
            </td>
            <td>
              <span *ngIf="!reservation.editing">{{ reservation.allergies }}</span>
              <input *ngIf="reservation.editing" [(ngModel)]="reservation.allergies" name="allergies" placeholder="Allergies">
            </td>
            <td>
              <button class="btn book-table" id="edit-button" *ngIf="!reservation.editing" (click)="editReservation(reservation)">
                Edit
              </button>
              <button class="btn book-table" id="save-button" *ngIf="reservation.editing" (click)="saveReservation(reservation)">
                Save
              </button>
              <button class="btn book-table" id="cancel-button" *ngIf="reservation.editing" (click)="cancelEdit()">
                Cancel
              </button>
              <button class="btn book-table" id="delete-button" (click)="deleteReservation(reservation.name)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
</div>
