<app-navbar></app-navbar>

<section id="reservations" class="reservations">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Reservation List</h2>
      <p>View all reservations here.</p>
    </div>

    <div class="table-responsive">
      <table class="table">

        <thead>
          <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Pax.</th>
            <th>Allergies</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let reservation of reservations">
            <td>{{ reservation.name }}</td>
            <td>{{ reservation.reservationTime }}</td>
            <td>{{ reservation.people }}</td>
            <td>{{ reservation.allergies }}</td>
            <td>
              <button class="btn btn-primary" (click)="editReservation(reservation, 'authToken')">Modifica</button>
              <button class="btn btn-danger" (click)="deleteReservation(reservation.name)">Elimina</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</section>
