<section id="specials" class="specials">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Menus</h2>
      <p>Tasting Menus from the territory </p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Terra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Aqua</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Alchimia</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Terra</h3>
                  <p class="fst-italic">A Culinary Journey through the Hills of Rimini</p>
                  <p>Experience the essence of the Rimini hills with our "Terra" menu. Each dish is a masterpiece that captures the flavors of the local countryside. Delight in the bounty of the land as we present a harmonious blend of ingredients that reflect the rich agricultural heritage of the region. From farm-fresh vegetables to succulent meats, every bite tells a story of tradition and taste. Let your taste buds embark on a journey that celebrates the beauty of simplicity and the abundance of the earth.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-1.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Aqua</h3>
                <p class="fst-italic">A journey in the flavours of the Adriatic Sea</p>
                <p>Embark on a culinary voyage with our "Aqua" menu, where the treasures of the sea take center stage. Dive into a world of exquisite seafood, where freshness and flavor meet in perfect harmony. Each dish is a testament to the bountiful offerings of the sea, crafted to tantalize your taste buds. From succulent shellfish to delicate fish fillets, our "Aqua" menu promises a symphony of flavors that will transport you to the waterfront. Immerse yourself in the allure of the deep blue sea and savor the finest catches prepared with passion and precision.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-2.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Alchimia</h3>
                  <p class="fst-italic">A Culinary Alchemy of Creativity and Flavors</p>
                  <p>Prepare to be enchanted by the "Alchimia" menu, where our chef's creativity knows no bounds. It's a culinary alchemy that combines innovative techniques with the finest ingredients to create dishes that defy expectations. Each plate is a masterpiece, meticulously crafted to surprise and delight your palate. From avant-garde presentations to unexpected flavor pairings, "Alchimia" promises an unforgettable dining experience that transcends the ordinary. Join us on a gastronomic adventure where the boundaries of taste and imagination are pushed to new heights.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
