
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>ALCHEMIST</h3>
            <p>
              47864 Pennabilli, Rimini <br>
              Rimini RI, Italy<br><br>
              <strong>Phone:</strong> +39 3208213414<br>
              <strong>Email:</strong> info@examplemail.com<br>
            </p>
            <div class="social-links mt-3">
              <a [routerLink]="['']" class="twitter"><i class="bi bi-twitter"></i></a>
              <a [routerLink]="['']" class="facebook"><i class="bi bi-facebook"></i></a>
              <a [routerLink]="['']" class="instagram"><i class="bi bi-instagram"></i></a>
              <a [routerLink]="['']" class="google-plus"><i class="bi bi-skype"></i></a>
              <a [routerLink]="['']" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Let us know any suggestion or keep updated on news about the Alchimist</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>

        </div>

      </div>
    </div>
  </div>

</footer>
